<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="navi :: head">
    <meta charset="UTF-8"/>
    <title>Engine_Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="navi :: menu"></div>
<datalist id="p">
    <option th:each = "eng : ${engines}" th:value = "${eng.id}"
            th:label = "${eng.name}" ></option>
</datalist>
<table>
<tr th:each="part:${parts}">
    <td th:text="${part.id}"></td>
    <td th:text="${part.name}"></td>
</tr>
</table>


</body>
</html>