<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="navi :: head">
    <meta charset="UTF-8"/>
    <title>BlueRay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .movieDet {
            background-color: darkgray;
            border: 5px black;
            margin-left: 150px;
            margin-right: 150px;
            color: white;
            padding: 1px;
            text-align: center;
        }

    </style>
</head>
<body>
<div th:include="navi :: menu"></div>
<h2 class="movieDet">Engines list:</h2>
<!--<p>The .table-striped class adds zebra-stripes to a table:</p>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>Engine Id</th>
        <th>Name</th>
        <th>Production Year</th>
        <th>Engine category</th>
        <th>Parts</th>
        <!--<th>Add part to ENGINE</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="eng:${engines}">
        <td th:text="${eng.id}"></td>
        <td th:text="${eng.name}"></td>
        <td th:text="${eng.yearProduction}"></td>
        <td th:text="${eng.engineCat}"></td>
        <td th:text="${eng.parts}"></td>

    </tr>
    </tbody>
</table>
<div class="container">
    <h2>Sources :)</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://www.goshico.com/allegro/engine.jpg" target="_blank">
                    <img src="https://www.goshico.com/allegro/engine.jpg" alt="Lights" style="width:100%"/>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://www.goshico.com/allegro/parts.jpg" target="_blank">
                    <img src="https://www.goshico.com/allegro/parts.jpg" alt="Lights" style="width:100%"/>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://www.goshico.com/allegro/car.jpg" target="_blank">
                    <img src="https://www.goshico.com/allegro/car.jpg" alt="Lights" style="width:100%"/>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>