<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Order_Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container" th:fragment="menu">
<div class="container" th:fragment="menu">
    <nav class="navbar navbar-inverse">
        <div class="container-light" style="background-color: #e3f2fd;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">B2b8th</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">PARTS<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/part/add">Add part</a></li>
                        <li><a href="/part/findall">Parts list</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ENGINES<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/engine/add">Add engine</a></li>
                        <li><a href="/engine/findall">Engines list</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</div>
</div>
</body>
</html>